.newbie {color: #808080;}
.pupil {color: #008000;}
.specialist {color: #03a89e;}
.expert {color: #0000ff;}
.candidate-master {color: #ab00aa;}
.master .international-master {color: #ff8d05;}
.grandmaster .international-grandmaster .legendary-grandmaster{color: #ff0000;}