.spoiler-prompt {
    color: gray;
}

.spoiler-text {
    display: none;
}

.spoiler:hover .spoiler-text {
    display:block;
}

.spoiler:active .spoiler-text {
    display:block;
}

.spoiler:hover .spoiler-prompt {
    display:none;
}

.spoiler:active .spoiler-prompt {
    display:none;
}

.spoiler:hover {
    overflow-y: auto;
}